<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/class.css">
    <link rel="stylesheet" href="../css/Atag.css">
    <script src="../script/script.js"></script>
    <!-- <link rel="stylesheet" href="header_css.css">
    <link rel="stylesheet" href="aside_css.css">  
    <link rel="stylesheet" href="Main_Part_css.css">   -->
    
</head>
<body>
    <header >
        <div id="h1"><img src="../images/kita.png" id="logo"></div>
        <div id="title"><a href="/member/member" style="color: white;">Metro</a></div>
        <div id="h2">
            <div id="search_box">Welcome</div>
            <a href="/member/create"><div id="Create_post" >new post </div></a>
        </div>
        <div id="h3"><%=locals?.username?username:""%> <span onclick="usermenu_show()">
            <img style="width: 20px; cursor: pointer;  float: right; margin-top: 13px; " src="../images/downarrow.png" alt="">
            </span>
        </div>        
    </header>
    <aside_half class="half-menu">
        <div class="menu purple">
            <div  id="menu_headerHide" style="background-color:#77569c;
             font-size: 20px;">
                <!-- <span onclick="show_menu()"><img id="menu_symbolHide" src="../images/menu_symbolFull.png" alt=""></span> -->
            </div>
            <a href="#"> <div class="icon_half">1</div></a>
            <a href="#"> <div class="icon_half">2</div></a>
            <a href="#"> <div class="icon_half">3</div></a>
        
        </div>
        <div class="menu purple">
            <div class="channel"></div>
            <a href="#"> <div class="icon_half">1</div></a>
            <a href="#"> <div class="icon_half">2</div></a>
            <a href="#"> <div class="icon_half">3</div></a>
            <a href="#"> <div class="icon_half">4</div></a>
            
            
        </div>
    </aside_half>

    <aside_full class="full-menu">
        <div class="menu purple">
        <div  id="menu_header" style="background-color:#77569c;
             font-size: 20px;">menu 
            <!-- <span onclick="hide_menu()"><img id="menu_symbol" src="../images/menu_symbol.png" alt=""></span> -->
        </div>
            <a href="#"><div class="channel">home</div></a>
            <!-- <a href="#"><div class="channel">popular </div></a> -->
        </div>
        <!-- <div class="menu purple">
            <div class="channel" style="text-align: left; padding-left: 15px;
             background-color:#77569c;
             font-size: 20px;">your channel</div>
            <a href="#"> <div class="channel">channel 1</div></a>
            <a href="#"> <div class="channel">channel 2</div></a>
            <a href="#"> <div class="channel">channel 3</div></a>
            <a href="#"> <div class="channel">channel 4</div></a>
            
        </div> -->
    </aside_full>
    
    
        
    <sidebar id="side">
        <usermenu class="user_menu">
            <a href="/member/logout"><div id="userMenu">logout</div></a>
            <a href="/member/change?UID=<%=UID%>"><div id="userMenu" style="margin-top: 60px;">change_username</div></a>
        </usermenu>
        
            <div id="suggestion_box">
                <div id="suggestion_header">Suggestion Posts</div>
                <div id="article" >
                    <div id="article_header"><a href="/member/post?PID=<%=information[0].PID%>">
                        <%=information[0].title%></a></div>
                    <div id="article_date"><span id="date1"></span></div>
                    <div id="article_body"><%=information[0].body_text%></div>
                </div>
                <div id="article">
                    <div id="article_header"><a href="/member/post?PID=<%=information[1].PID%>">
                        <%=information[1].title%></a></div>
                    <div id="article_date"><span id="date2"></span></div>
                    <div id="article_body"><%=information[1].body_text%></div>
                </div>
                <div id="article">
                    <div id="article_header""><a href="/member/post?PID=<%=information[2].PID%>"><%=information[2].title%></a></div>
                    <div id="article_date"><span id="date3"></span></div>
                    <div id="article_body"><%=information[2].body_text%></div>
                </div>
                
            </div>
        
    </sidebar>

    
    
    <main>
        
        <div id="main_part" class="white">
            <div style="display: block; width: 100%; height: 80px; overflow: hidden;"></div>
            <!-- <div class=" post" >
                <div>
                    <div id="title_box"><%=information[0].title%></div>
                    <div class="author_box"><%=information[0].username%>'s &nbsp; Post &nbsp;&nbsp;
                        Date:&nbsp;
                         <span id="date4"></span>&nbsp;
                         
                    </div>
                </div> -->
        </div>
    </main>

    


    <!-- <div>
        <div>กรอกชื่อผู้ใช้ &nbsp;<input type="text"></div>
    </div> -->
    <!-- <div id="sticky1"> sticky note </div>
    <div id="sticky2"> sticky note</div> -->
    <script>
        const time1 = new Date('<%=information[0].created_date%>');
        const time2 = new Date('<%=information[1].created_date%>');
        const time3 = new Date('<%=information[2].created_date%>');
        
        // console.log(time)
        
        document.getElementById('date1').innerHTML = time1.toLocaleDateString();
        document.getElementById('date2').innerHTML = time2.toLocaleDateString();
        document.getElementById('date3').innerHTML = time3.toLocaleDateString();
        
        // const time4 = new Date('<%=post[0].created_date%>');
        // document.getElementById('date4').innerHTML = time4.toLocaleDateString();
        // console.log( <%=post.length%>)
        
        
        // console.log('<%=information.length%>')
        console.log('<%=UID%>')
        // for(let i = 0; i < <%=post.length%>; i++){
        //     console.log(i)
        //     var img = document.createElement("img");
           
        //     img.id  = "media_inside"
        //     document.getElementById("media").appendChild(img);
        // }
        // information.length
        <% for(var i=0; i< information.length; i++) {%>
                var div = document.createElement('div');
                div.className = 'post';
                div.id = 'div'+<%=i%>;
                document.getElementById("main_part").appendChild(div);

                var div = document.createElement('div');
                div.id = 'title_box'
                div.innerHTML = '<a href="/member/post?PID=<%=information[i].PID%>"><%=information[i].title%></a>';
                // '<%=information[i].title%>'
                document.getElementById('div'+<%=i%>).appendChild(div);

                var div = document.createElement('div');
                div.className = 'author_box';
                div.id = 'Author'+<%=i%>;
                div.innerHTML = "<%=information[i].username%>'s &nbsp Post";
                document.getElementById('div'+<%=i%>).appendChild(div);

                var span = document.createElement('span');
                span.id = 'D'+<%=i%>;
                // span.innerHTML = Created_date.toLocaleDateString();
                document.getElementById('Author'+<%=i%>).appendChild(span);
                
                var Created_date = new Date('<%=information[i].created_date%>');
                document.getElementById('D'+<%=i%>).innerHTML = '&nbsp&nbsp&nbsp&nbspDate:&nbsp;'+Created_date.toLocaleDateString();

                var span = document.createElement('span');
                span.id = 'T'+<%=i%>;
                span.innerHTML = '&nbsp&nbsp&nbsp<%=information[i].created_time%>'
                document.getElementById('Author'+<%=i%>).appendChild(span);
                


                console.log('div'+<%=i%>)
                console.log('<%=information[i].username%>')
            <% } %>

            
    
        
        

        // var img = document.createElement("img");
        // img.src = '<%=post[0].path%>';
        // img.id  = "media_inside";

        // console.log('<%=post[0].path%>')
        // console.log(img.src)
        // document.getElementById("media").appendChild(img);

        
    </script>

</body>
</html>